# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# Django stuff:
*.pot
*.pyc
*.pyo
db.sqlite3

# Static and media files
/staticfiles/
/media/

# Migrations
migrations/

# Virtual environment
venv/
tour_eco_env/

# macOS system files
.DS_Store
